Core/bin/Debug/net5.0/Core.dll
Core/bin/Debug/net5.0/Core.dll
Core/bin/Debug/net5.0/Core.dll
Core/bin/Debug/net5.0/Core.pdb
Core/bin/Debug/net5.0/ref/Core.dll
Core/bin/Debug/net5.0/Core.dll
Core/bin/Debug/net5.0/Core.pdb
Core/bin/Debug/net5.0/ref/Core.dll
Core/bin/Debug/net5.0/Core.dll
Core/bin/Debug/net5.0/Core.pdb
Core/bin/Debug/net5.0/ref/Core.dll
